h2,
.blank,
.guessForm input,
.wrong {
  font-size: 2rem;
}

// Category
h2 {
  text-shadow: 2px 2px $accent;
}

// Blank space for correct letters to go
.blank {
  margin-top: 320px;
  margin-bottom: 50px;
}
span {
  color: transparent;
  border-bottom: 2px solid $black;
  user-select: none;
}

// Form to input a guess
form {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

// Form to create a category and word
.questionForm {
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  font-size: 1.5rem;
  input {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 10px;
  }
}

.guessForm input {
  border: none;
  text-align: center;
  width: 150px;
}

// Incorrect guesses displayed below the board
.wrong {
  display: flex;
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  p {
    margin: 0;
    color: $wrong;
    margin-right: 10px;
  }
}

// Button to play again, reloads the page
.playAgain {
  margin-bottom: 50px;
}