h2 {
  text-shadow: 2px 2px $accent;
  font-size: 2rem;
}

.blank {
  margin-top: 320px;
  font-size: 2rem;
  margin-bottom: 50px;
}

span {
  color: transparent;
  border-bottom: 2px solid black;
  user-select: none;
}

.visible {
  color: black;
}

form {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  border: none;
  text-align: center;
  font-size: 2rem;
  width: 150px;
}

.wrong {
  font-size: 2rem;
  display: flex;
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  p {
    margin: 0;
    color: $wrong;
    margin-right: 10px;
  }
}

.playAgain {
  margin-bottom: 50px;
}