.blank {
  margin-top: 290px;
  font-size: 2rem;
}

span {
  color: transparent;
  border-bottom: 2px solid black;
  user-select: none;
}

.visible {
  color: black;
}

form {
  display: none;
  margin-top: 20px;
}