@media (min-width: 500px) {
  .gallows {
    left: 200px;
  }
  .startButtonContainer {
    left: 200px;
  }
}

@media (min-width: 800px) {
  .gallows {
    left: 400px;
  }
  .startButtonContainer {
    left: 400px;
  }
}

@media (min-width: 1200px) {
  .gallows {
    left: 630px;
  }
  .startButtonContainer {
    left: 620px;
  }
}